.badge {
    border-radius: 4px;

    cursor: pointer;
    display: inline-block;

    font-family: 'effra';
    font-weight: bolder;
    margin: 5px;
    padding: 2px 10px;
    position: relative;
    // width: 30px;
    text-align: center;
}
