@font-face {
    font-family: 'effra';
    font-style: normal;
    src: url('../fonts/effra/Effra_Std_Lt.ttf') format('truetype'),
        url('../fonts/effra/Effra_Std_Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'leaguespartan';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/leaguespartan/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/leaguespartan/leaguespartan-bold.woff2') format('woff2'),
        url('../fonts/leaguespartan/leaguespartan-bold.woff') format('woff'),
        url('../fonts/leaguespartan/leaguespartan-bold.ttf') format('truetype'),
        url('../fonts/leaguespartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
}
