.wrap {
    color: $text-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    width: 100%;

    .main-container {

        $alphagradient: 0.5;
        // background: red;
        background: var(--bg-color);
        display: flex;
        min-height: 100vh;
        // max-height: 100vh;
        position: relative;
        // padding: 1rem 0;
        z-index: 1;

        .main-content {
            position: relative;
            // margin-left: auto;
            // margin-right: auto;
            background: var(--bg-color);
            border-color: rgb(41, 43, 44);
            box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px 0;
            display: flex;
            // margin-top: auto;
            margin: auto;
            
            padding: 12px;
            width: 90%;

            @media screen and (max-width: 768px) {
                & {
                    height: auto;
                }
            }

            .left-container {
                font-family: 'effra';
                font-weight: bold;
                max-width: 20rem;
				min-width: 20rem;

				.line-information-container {
					display: none;
					width: 100%;
					height: 100%;
					// background: red;

					.line-information-content {
						width: 100%;
						height: auto;
						// background: blue;
                        overflow: hidden;

						.transname {
							margin-top: 30px;
                            color: var(--text-color);
                            font-size: 1.1rem;

                            .name {
                                padding-top: 1rem;
                            }
                        }
                        
                        .transinfo-container {
                            margin: 10px 5px;
                            .transinfo-content {
                                width: 100%;
                                display: flex;
    
                                .transinfo-right-container, .transinfo-left-container {
                                    max-width: 50%;
                                    flex: 0 0 50%;
                                }
    
                                .transinfo-right-container {
                                    text-align: right;
                                }
    
                                .transinfo-left-container {
                                    text-align: left;
                                }
                            }
                        }

						.toggle {
							.btntoggle {
								float: right;
								width: 32px;
								height: 32px;
								background: none;
								border: none;
								cursor: pointer;
								font-weight: bolder;
							}
                        }
                        
                        .left {
                            float: left;
                            display: flex;
                        }
					}
				}
				
				.line-information-container-show {
                    display: block !important;
				}

                .transport-elm {
                    padding: 5px 0;
                    margin: 5px 0;
                    i {
                        margin-right: 0.5rem;
                    }
				}

				.transport-container {
					transition: .3s ease-in-out;

					width: 100%;
					height: auto;
					overflow: hidden;
                }
                
                .transport-content {
                    transition: .1s linear;
                    &:hover {
                        z-index: 999;
                        transform: scale(1.2);
                    }
                    
                }
				
				.transport-container-collapse {
					width: 100%;
					height: 0%;		
				}

                @media screen and (min-width: 768px) {
                    & {
                        max-height: 90vh;
                        overflow: auto;

                        &::-webkit-scrollbar-track { // bg track
                            background-color: rgba(#F5F5F5, 0);
                            margin: 15px 0;

                        }
                        &::-webkit-scrollbar { // bg
                            width: .8rem; //1rem
                            background-color: rgba(#F5F5F5, 0);
                        }
                        
                        &::-webkit-scrollbar-thumb
                        {
                            border-radius: 10px;
                            background-color: val(--bg-color);
                        }
			
                    }
                }

                @media screen and (max-width: 768px) {
                    & {
                        max-width: 100%;
                        min-width: 100%;
                        // overflow: hidden;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            
            .right-container {
                flex: 1;

                @media screen and (min-height: 768px) {
                    flex: 0 0 calc(100% - 20rem);
                    max-width: calc(100% - 20rem);
                }

                @media screen and (max-width: 768px) {
                    & {
                        margin-bottom: 1rem;
                        min-width: 100%;
                    }
                }
            } 

            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
                // margin: 0;
                width: 100%;
            }
        }

        &::before {
            background-image: url(../img/bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            height: 100vh;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        &::after {
            background: #4c4c4c; /* Old browsers */
            background: linear-gradient(135deg, rgba(#4c4c4c, $alphagradient) 0%, rgba(#595959, $alphagradient) 12%, rgba(#666, $alphagradient) 25%, rgba(#474747, $alphagradient) 39%, rgba(#2c2c2c, $alphagradient) 50%, rgba(#000, $alphagradient) 51%, rgba(#111, $alphagradient) 60%, rgba(#2b2b2b, $alphagradient) 76%, rgba(#1c1c1c, $alphagradient) 91%, rgba(#131313, $alphagradient) 100%);
            content: '';
            height: 100vh;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }
    }
}

.transisere-elm-container,
.voironnais-elm-container,
.tougo-elm-container,
.flexo-elm-container,
.proximo-elm-container,
.chrono-elm-container,
.tram-elm-container {
    display: flex;
    flex-flow: wrap row;
    margin: 10px;
}

.transport-name {
    padding: 3px;
    color: var(--text-color);
    font-family: 'B612', sans-serif;
    font-size: 1rem;
    margin-bottom: 15px;
}

.transport-icon {
	width: 16px;
	height: 16px;
    path {
        fill: var(--text-color);
    }
}

.tram,
.chrono,
.proximo,
.c38,
.flexo,
.interurbaines,
.structurantes {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: 3px;
    overflow: hidden;
    position: relative;
}

.tram,
.chrono {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.proximo,
.flexo {
    border-radius: 5px;
    height: 25px;
    width: 25px;
}

.interurbaines,
.structurantes,
.c38 {
    height: 20px;
    width: 50px;
}

.right-content {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    
    .right-elm-container {
        height: 100%;
        width: 100%;

        .right-elm-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: auto;
            //   overflow: hidden;

            width: 99%;

            .history-container {
                //   overflow: hidden;
                align-items: center;
                display: flex;
                height: 30px;
                padding: 5px;

                .history-content {
                    width: 100%;
                }

                .history-elm-content {
                    overflow: auto;
                    white-space: nowrap;
                    scrollbar-width: thin;

                    &::-webkit-scrollbar{
                        height: .6rem;
                        background: none;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: red; 
                        border-radius: 2px;
                    }
                } 
            }

            @media screen and (max-width: 768px) {
                & {
                    width: 100%;
                   
                }
            }

            .map-container {
                flex: 1;
                position: relative;
                width: 100%;

                .direction-name {
                    background: rgba(0, 0, 0, 0.9);
                    border-radius: 5px;
                    color: white;
                    font-family: 'effra';
                    font-weight: bolder;
                    padding: 5px;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    visibility: collapse;

                    z-index: 9999999;
                }

                .map-content {
                    height: 100%;
                    width: 100%;

                    #mapid {
                        position: relative;
                        border-radius: 2px;
                        height: 100%;
                        
                        min-height: 512px;
                        width: 100%;

                        
                    }
                }
            }
        }
    }

    
    /* background: red;

    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        top: 0;
        left: 0;
    } */
}

.transport-icon {
    height: auto;
    width: 16px;
}

#thememode {
    bottom: 30px;
    cursor: pointer;
    height: 30px;
    position: fixed;
    right: 30px;
    width: 60px;
    z-index: 99999;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px 0;

}

/* .changeroute, .love, .changeroute > *, .love > * {
    z-index: 99;
    cursor: pointer;
    width: 40px;
    height: 24px;
    background: none;
    border: none;
    path {
        fill: var(--text-color);
    }
} */    

#changesens, #favorites {
    background: none;
    border: none;
    width: 40px;
    height: 24px;
    cursor: pointer;
}

#Capa_1, .iconfavorites, .iconbtntoggle {
    path {
        fill: var(--text-color);
    }
}

.transinfo-left-elm {
    margin-top: 1rem;
}

.station {
    padding: 7px 0;
}

.tleft, .tright {
    max-width: 50%;
    padding: 5px 0;
}

.w-100 {
    width: 100% !important;
    max-width: 100% !important;
}

#btntoggle, #favorites, #changesens {
    transition: .1s linear;
    &:hover {
        z-index: 999;
        transform: scale(1.2);
    }
}

.w-50 {
    width: 50% !important;
    max-width: 50% !important;
}

#transinfo-elm {
    margin-top: 10px;
}

.iconfavorites-active {
    path {
        fill: yellow;
    }
}