.popus-container {
    align-items: center;
    background: rgba(#000, 0.5);
    display: inline-block;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    // visibility: collapse;

    width: 100%;
    z-index: 999;
    // text-align: center;   

    .popus-content { 
        border-color: rgb(41, 43, 44);
        border-image: initial;
        border-radius: 10px;
        border-style: none;
        border-width: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px 0;
        height: 500px;
        left: 0;
        
        overflow: hidden;
        position: relative;
        top: 0;

        @media screen and (min-width: 870px) {
            max-height: 500px;
            min-height: 500px;
            min-width: 800px;
            width: 800px;
        }

        @media screen and (max-width: 869px) {
            width: 90%;
        }

        .modal-close {
            transition: .2s ease-in-out;
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: 0 none;
            color: rgb(0, 0, 0);
            cursor: pointer;
            display: block;
            font-size: 32px;
            margin: 0;
            overflow: visible;
            position: absolute;
            right: 10px;
            top: 5px;
        }

        .popus-body {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;

            @media screen and (max-width: 869px) {
                flex-direction: column;
                justify-content: unset;

            }
        

            .popus-body-left {
                flex: 0 0 50%;
                flex: 1;
                max-width: 50%;

                @media screen and (max-width: 869px) {
                    max-width: 90%;
                }

                img {
                    height: auto;
                    margin-left: 10px;
                    width: 90%;
                }
            }

            .popus-body-right {
                flex: 0 0 50%;
                max-width: 50%;

                @media screen and (max-width: 869px) {
                    max-width: 90%;
                    flex: 0;

                }

                .important {
                    font-family: 'effra';
                    font-size: 28px;
                    font-weight: bolder;
                }

                .info {
                    font-family: 'effra';
                }
                

                .info {
                    padding: 15px;
                }
            }
        }
    }
}

.popus-container-collapse {
    visibility: collapse;
}

.leaflet-pane.leaflet-shadown-pane {
    display: none;
}
