html[data-theme='light'] {
    --bg-color: #{$bg-color};
    --text-color: #{$text-color};

    .modal-close {
        &:hover {
            text-shadow: $text-color 0 0 10px;
            
        }
    }

    #mapid {
        background: $bg-color;
    }

    .map-load {
        background: rgba($bg-color, .8);
    }

    .transport-elm {
        background: darken($color: rgba($bg-color, .3), $amount: 25%);
    }
}

html[data-theme='dark'] {
    --bg-color: #{$darkmode-background};
    --text-color: #{$darkmode-text};

    .modal-close {
        &:hover {
            text-shadow: $darkmode-text 0 0 10px;
        }
    }

    .map-load {
        background: rgba($darkmode-background, .8);
    }
    
    .transport-elm {
        background: lighten($color: rgba($darkmode-background, .3), $amount: 10%);
    }

    .transport-content {
        &::after {
            background: rgba($darkmode-background, 0.2);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 9999;
        }
    }

    #mapid {
        background: lighten($color: $darkmode-background, $amount: 5%);

        .leaflet-control-zoom-in,
        .leaflet-control-zoom-out {
            background: lighten($color: $darkmode-background, $amount: 15%);
            color: $darkmode-text;
        } 
    }

    .history-elm-content {
        scrollbar-color: lighten($color: $darkmode-background, $amount: 3%);
    }
}
